* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #151515;
  /* if the first font doesn't exist then use the other after it */
  font-family: "Franklin Gothic Medium", Arial, Helvetica, sans-serif;
}

h2 {
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 30px ;
  font-size: 48px;
}

.card-container {
  display: flex;            /* Enables flexbox for layout. */
  flex-wrap: wrap;          /* Allows child items to wrap to the next line if needed. */
  justify-content: center;  /* Centers child items horizontally within the container. */
  max-width: 1024px;        /* Limits the container's width to a maximum of 1024px. */
  margin: 0 auto;           /* Centers the container horizontally in its parent. */
}

.card {
         border: 1px solid #4b5362;
        padding: 20px;
        margin: 10px;
        background-color: #31363f;
        border-radius: 10px;
        min-height: 100px;
}